*.flix         text eol=lf working-tree-encoding=UTF-8
*.md           text eol=lf working-tree-encoding=UTF-8
.editorconfig  text eol=lf working-tree-encoding=UTF-8
.gitattributes text eol=lf working-tree-encoding=UTF-8
.gitignore     text eol=lf working-tree-encoding=UTF-8
